body{
  padding-top: 70px;
}

.noteClass textArea{
  height:150px;
  font-size: 15px ;
}

#postContainer .row{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-top: 3px;
  margin-top: 5px;
}
