body{
  padding-top: 70px;
}

.noteClass textArea{
  height:150px;
  font-size: 15px ;
}

#postContainer div.container{
  margin: 5px;
  margin-top: 8px;
  border-radius:5px;
  border: 1px #888888 solid;
}

#postContainer div.container p{
  padding-top:5px;
}

#postContainer div.dropdown{
}
#postContainer div.dropdown button{
  background:white;
}
