{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
  <div class="container">
      <div class="container col-md-7 col-md-offset-2">
        <!-- here is for CSRF of AJAX -->
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <!-- Post Place -->
        <form action="" role="form" class="form form-horiziontal noteClass">
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}
          {{wtf.form_field(form.body)}}
          <span class="hidden">{{g.user.id}}</span>
          <button id="noteButton"type="button"
            class="btn btn-default pull-right">Post</button>
        </form>
      </div>

    <br>
    <!-- List all posts here -->
      <div class="container col-md-7 col-md-offset-2" id="postContainer">
        {% for post in posts %}
        <div class="container col-md-12 col-md-offset-0">

          <div class="dropdown pull-right">
            <button class="btn btn-xs dropdown-toggle " type="button"
              id="dropdownMenu1" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"
              aria-labelleby="dropdownMenu1">

              <li role="presentation">
                <a href="#" role="menuitem">
                  Delete
                </a>
            </li>

            </ul>

          </div>

          <p class="clearfix">{{post.body}}</p>
          <p class="pull-right">{{post.timestamp}}</p>
        </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
